@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@1,300&family=League+Spartan:wght@500;600;700&family=Manrope:wght@400;500&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700;1,800&family=Roboto:ital,wght@0,500;1,400&family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
*{
  border: 2px solid red;
} */

body,
html {
  @apply flex;
  height: 100%;
}

main {
  @apply grid  max-[480px]:grid-rows-2 md:grid-rows-3 w-full h-full;
  position: relative;
  z-index: 0;
}

.close {
  @apply hover:cursor-pointer max-[480px]:h-1/2 max-[480px]:w-2/4;
  color: hsl(0, 0%, 27%);
  width: 40%;
  height: 50%;
}

.over-lay {
  @apply w-full h-full;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
}

.over-lay-nav {
  @apply bg-white w-full  p-6 px-2 flex gap-4 items-center;
}

.over-lay-nav ul {
  @apply flex gap-10;
}

.over-lay-nav ul li:hover {
  cursor: pointer;
  border-bottom: 3px solid black;
}

.over-lay-nav ul li {
  @apply text-black font-LS;
  font-size: 0.9rem;
}

.section-one {
  @apply grid max-[480px]:grid-rows-2 max-[480px]:row-span-1 md:row-span-2  md:grid-cols-3;
  /* background-color: aqua; */
}

.section-two {
  @apply row-span-1 grid max-[480px]:grid-rows-3 md:grid-cols-3;
  /* background-color: blueviolet; */
}

.content-one {
  @apply max-[480px]:row-span-1 md:col-span-2 h-full;
  /* background-image: url("../images/desktop-image-hero-1.jpg");
  background-color: brown;
  background-size: cover;
  background-repeat: no-repeat; */
}

.content-one img {
  width: 100%;
  @apply h-full;
}

.content-two {
  @apply max-[480px]:h-full max-[480px]:row-span-1 max-[480px]:justify-center max-[480px]:items-center md:col-span-1 md:flex md:flex-col;
  /* background-color: brown; */
  background-color: hsl(0, 0%, 100%);
}

.content-two-inner {
  @apply max-[480px]:h-4/5 max-[480px]:flex max-[480px]:flex-col md:w-4/5 md:m-auto h-auto;
  /* background-color: aqua; */
}

.ham {
  @apply mr-auto  max-[480px]:flex sm:hidden;
}

.content-one .nav {
  @apply flex gap-10 max-[480px]:justify-between max-[480px]:w-full;
  position: absolute;
  top: 30px;
  left: 25px;
}

.content-one .nav ul {
  @apply flex gap-8 max-[480px]:hidden sm:flex;
}

.content-one .nav ul li {
  @apply text-white font-LS;
  font-size: 1.3rem;
}

.content-one .nav ul li:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}

.content-two-inner-img {
  @apply w-4/5 m-auto h-auto;
}

.content-two-inner img {
  width: 100%;
}
.Discover {
  @apply font-LS font-bold;
  font-weight: 700;
  font-size: 2.1rem;
}

.main-content-two {
  color: hsl(0, 0%, 63%);
}

.shop-now {
  @apply font-LS font-thin uppercase my-auto;
  font-size: 1.3rem;
  letter-spacing: 0.5em;
}

.arrow {
  @apply my-auto;
  display: inline-block;
}

.slider {
  @apply max-[480px]:hidden w-full sm:flex justify-start;
}

.slider2 {
  @apply max-[480px]:flex max-[480px]:justify-end w-full md:justify-start sm:hidden md:hidden lg:hidden;
}

.slider-inner {
  @apply flex gap-10 p-4 w-1/4 bg-black justify-center mt-auto;
}

.slider-left,
.slider-right {
  @apply hover:cursor-pointer;
}

.one {
  @apply col-span-1;
  background-color: blueviolet;
  /* background-image: url("../images/image-about-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

.one img {
  width: 100%;
  @apply h-full;
}

.two {
  @apply col-span-1 h-full;
  /* background-color: aquamarine; */
}

.three {
  @apply col-span-1;
  height: 100%;
  /* background-image: url("../images/image-about-light.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

.three img {
  width: 100%;
  @apply h-full;
}

.two-content {
  @apply mx-auto w-11/12 mt-1;
}

.section-two-content-two {
  @apply font-LS uppercase;
  font-weight: 700;
  letter-spacing: 0.4em;
  word-spacing: 0.5em;
}

.inner-section-two {
  color: hsl(0, 0%, 63%);
}

@media (max-width: 480px) {
  .content-one .nav {
    left: 0;
  }
}
